*.pyc
__pycache__/
migrations/
migrations
db.sqlite3
.idea/
.idea
media/
.vscode/
vevn/
credentials.yaml
build/
logs/
.DS_Store/
.DS_Store
deployFiles/
clearTable.sql
assets/
.cpython-37.pyc
systemLogs/
debug.txt
.history
.history/
backupQueries.py
dump.rdb
*.log
*.logs
dump.json
*.sql
*.sock.lock
Pipfile
celerybeat.pid
